<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>841224248739-eordugmubum7akv773e9mj6b89efenn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.841224248739-eordugmubum7akv773e9mj6b89efenn8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>841224248739-u81uni93f9fc10niem9jenv93vfqfuhf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDygRz-PpeyzrAeuorSWkciRNfOV43oTwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>841224248739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyofbala.firebasechat</string>
	<key>PROJECT_ID</key>
	<string>firechat-61f07</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-61f07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:841224248739:ios:310055a78645aa445b8e16</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-61f07.firebaseio.com</string>
</dict>
</plist>